body {
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: green;
}

.square {
  width: 100px;
  height: 100px;
  background-color: beige;
  border: 1px solid gray;
  display: inline-block;
}

.o {
  position: relative;
}

.o:after {
  position: absolute;
  content: "🛡️";
  font-size: 50px;
  line-height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.x {
  position: relative;
}

.x:after {
  position: absolute;
  content: "⚔️";
  font-size: 50px;
  line-height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

button {
  width: 130px;
  height: 45px;
  background: green;

  margin: 2rem auto;
  border: none;
  padding: 1rem;

  cursor: pointer;
  border: 1px solid gray;
  border-radius: 0.5rem;

  font-size: 0.9rem;
  color: #fff;
  margin-top: 20px;
}
